version: '3.9'

services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
      MONGO_INITDB_DATABASE: githubPRs
    volumes:
      - mongo-data:/data/db

  backend:
    build: .
    container_name: backend
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://admin:admin123@mongodb:27017/githubPRs?authSource=admin
      - PORT=3000
    depends_on:
      - mongodb
  
  frontend:
    build: ../frontend
    container_name: pr-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

volumes:
  mongo-data:
