version: '3.9'

services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - "27017:27017"
    env_file: .env
    volumes:
      - mongo-data:/data/db

  backend:
    build: .
    container_name: backend
    ports:
      - "3000:3000"
    env_file: .env
    depends_on:
      - mongodb

  frontend:
    build: ../frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

volumes:
  mongo-data: